@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''), url('assets/fonts/proximanova_black.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''), url('assets/fonts/proximanova_bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url('assets/fonts/proximanova_bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('assets/fonts/proximanova_regular.ttf') format('truetype');
}

#header {
  position: sticky;
  top: 0px;
  z-index: 1300;
}

video {
  margin: 0;
}
